.icon {
  flex: none;
}

.sm {
  width: calc(var(--icon-size) * 0.8);
  height: calc(var(--icon-size) * 0.8);
}

.md {
  width: var(--icon-size);
  height: var(--icon-size);
}

.lg {
  width: calc(var(--icon-size) * 1.6);
  height: calc(var(--icon-size) * 1.6);
}
